h2 {
    margin-left: 50px; 
    font-family: '抖音美好体', '微软雅黑 Bold', 'Verdana';
}

p {
    margin-left: 70px;
    font-family: '微软雅黑 Light', '微软雅黑';
}

a {
    margin-left: 90px;
    font-family: '微软雅黑';
}

body {
    background-color: rgb(220, 220, 220);
}
