h2 {
    margin-left: 25px; 
    font-family: '抖音美好体', '微软雅黑 Bold', 'Verdana';
}

p {
    margin-left: 50px;
    font-family: '微软雅黑 Light', '微软雅黑';
}

a {
    font-family: '微软雅黑';
}

body {
    background-color: rgb(240, 240, 240);
}
